@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700;900&family=Barlow:wght@400;500;600&display=swap');

@import "tailwindcss";

@theme {
  --color-verde-oscuro: #1a6b2a;
  --color-verde-medio: #2d9e3f;
  --color-verde-claro: #5ec45e;
  --color-negro: #111111;
  --color-gris-oscuro: #222222;
  --color-gris-medio: #555555;
  --color-gris-claro: #f4f4f2;

  --font-display: "Barlow Condensed", sans-serif;
  --font-body: "Barlow", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  background: #ffffff;
  color: #111111;
}